@using EntityLayer.Concreate
@model List<AdminGiris>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Şifre</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item._Id</td>
            <td>@item.Sifre</td>
        </tr>
    }
</table>


