
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>KATEGORİ EKLE</h3>
<table class="table table-bordered">
    <tr>
        <th>KategoriID</th>
        <th>KategoriAdı</th>
        <th>Güncelle</th>
        <!--<td><button class="btn btn-success">Güncelle</button></td>-->
    </tr>

</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>


